<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medication Tracker</title>

    <link rel="stylesheet" href="/static/style.css">

    <!-- PWA Manifest -->
    <link rel="manifest" href="/static/manifest.json">

</head>

<body>

    <div class="container">

        <h2>Today's Medicines</h2>

        <div class="nav">
            <a href="/history">History</a> |
            <a href="/logout">Logout</a>
        </div>

        <hr>

        <!-- ADD MEDICINE FORM -->
        <form method="POST" action="/add">

            <div class="formgrid">

                <input type="text" name="name" placeholder="Medicine name" required>

                <input type="text" name="dosage" placeholder="Dosage" required>

                <input class="timeinput" type="time" name="time" required>

            </div>

            <button class="addbtn" type="submit">
                Add Medicine
            </button>

        </form>

        <hr>

        <!-- MEDICINE CARDS -->

        {% for m in meds %}

        <div class="card medicine-card">

            <b class="med-name">
                {{m.name}}
            </b>

            ({{m.dosage}})

            <br>

            Time:
            <span class="med-time">
                {{m.time}}
            </span>

            <br><br>

            Status:

            {% if m.status == "Pending" %}

            <span class="badge pending status">
                Pending
            </span>

            <a class="markbtn" href="/taken/{{m.id}}">
                Mark Taken
            </a>

            {% elif m.status == "Taken" %}

            <span class="badge taken status">
                Taken
            </span>

            {% else %}

            <span class="badge missed status">
                Missed
            </span>

            {% endif %}

            <br><br>

            <a class="editbtn" href="/edit/{{m.id}}">
                Edit
            </a>

            <a class="deletebtn" href="/delete/{{m.id}}">
                Delete
            </a>

        </div>

        {% endfor %}

    </div>

    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>