<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h2>Medication Tracker Login</h2>

        <form method="POST">

            <input name="username" placeholder="Username">

            <input type="password" name="password" placeholder="Password">

            <button class="addbtn">Login</button>

        </form>

        <div class="nav">
            <a href="/register">Create new account</a>
        </div>

    </div>

</body>

</html>